.docs/temp/Integration Webhooks, Data store, Pinterest.blueprint (1).json
{
    "name": "Integration Webhooks, Data store, Pinterest",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2559150,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "paperpause"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "collection",
                        "type": "text"
                    },
                    {
                        "name": "board_name",
                        "type": "text"
                    },
                    {
                        "name": "rss_url",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 2,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": null
            },
            "mapper": {
                "key": "{{1.collection}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Board_Mappings"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "board_id",
                        "type": "text",
                        "label": "Board ID"
                    },
                    {
                        "name": "Test",
                        "type": "text",
                        "label": "Old ID (Test)"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 50,
                            "module": "rss:ActionReadArticles",
                            "version": 4,
                            "parameters": {
                                "include": []
                            },
                            "filter": {
                                "name": "Board exist",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.board_id}}",
                                            "o": "exist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{2.Test}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "{{1.rss_url}}",
                                "username": "",
                                "password": "",
                                "filterDateFrom": "",
                                "filterDateTo": "",
                                "maxResults": "1",
                                "gzip": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Process RSS fields",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "google-merchant-center",
                                                "itunes"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "filterDateFrom",
                                        "type": "date",
                                        "label": "Date from"
                                    },
                                    {
                                        "name": "filterDateTo",
                                        "type": "date",
                                        "label": "Date to "
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "number",
                                        "label": "Maximum number of returned items",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Summary"
                                    },
                                    {
                                        "name": "author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "dateUpdated",
                                        "type": "date",
                                        "label": "Date updated"
                                    },
                                    {
                                        "name": "dateCreated",
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "comments",
                                        "type": "url",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "image",
                                        "type": "collection",
                                        "label": "Image",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "label": "Name",
                                                "type": "text"
                                            },
                                            {
                                                "name": "url",
                                                "label": "URL",
                                                "type": "url"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "categories",
                                        "type": "array",
                                        "label": "Categories",
                                        "spec": {
                                            "type": "text"
                                        }
                                    },
                                    {
                                        "name": "source",
                                        "type": "collection",
                                        "label": "Source",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "label": "Name",
                                                "type": "text"
                                            },
                                            {
                                                "name": "url",
                                                "label": "URL",
                                                "type": "url"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "enclosures",
                                        "type": "array",
                                        "label": "Enclosures",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "label": "URL",
                                                "type": "url"
                                            },
                                            {
                                                "name": "type",
                                                "label": "Type",
                                                "type": "text"
                                            },
                                            {
                                                "name": "length",
                                                "label": "Length",
                                                "type": "number"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "rssFields",
                                        "label": "RSS fields",
                                        "help": "Other RSS fields. All values are in text format.",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "label": "title",
                                                "type": "text"
                                            },
                                            {
                                                "name": "link",
                                                "label": "link",
                                                "type": "text"
                                            },
                                            {
                                                "name": "pubdate",
                                                "label": "pubdate",
                                                "type": "text"
                                            },
                                            {
                                                "name": "guid",
                                                "label": "guid",
                                                "type": "text"
                                            },
                                            {
                                                "name": "description",
                                                "label": "description",
                                                "type": "text"
                                            },
                                            {
                                                "name": "prompt",
                                                "label": "prompt",
                                                "type": "text"
                                            },
                                            {
                                                "name": "enclosure",
                                                "label": "enclosure",
                                                "type": "text"
                                            },
                                            {
                                                "label": "media:content",
                                                "name": "media:content",
                                                "type": "collection",
                                                "spec": [
                                                    {
                                                        "name": "props",
                                                        "label": "Properties",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "label": "url",
                                                                "name": "url",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "label": "medium",
                                                                "name": "medium",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "label": "width",
                                                                "name": "width",
                                                                "type": "number"
                                                            },
                                                            {
                                                                "label": "height",
                                                                "name": "height",
                                                                "type": "number"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Value",
                                                        "name": "value",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "label": "media:title",
                                                        "name": "media:title",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "props",
                                                                "label": "Properties",
                                                                "type": "collection",
                                                                "spec": []
                                                            },
                                                            {
                                                                "label": "Value",
                                                                "name": "value",
                                                                "type": "text"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "media:description",
                                                        "name": "media:description",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "props",
                                                                "label": "Properties",
                                                                "type": "collection",
                                                                "spec": []
                                                            },
                                                            {
                                                                "label": "Value",
                                                                "name": "value",
                                                                "type": "text"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 51,
                            "module": "pinterest:createPin",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4597163
                            },
                            "mapper": {
                                "media_source": {
                                    "source_type": "image_url",
                                    "url": "{{50.rssFields.`media:content`.props.url}}"
                                },
                                "board_id": "{{1.board_name}}",
                                "title": "{{50.rssFields.title}}",
                                "description": "{{50.rssFields.description}}",
                                "link": "{{50.rssFields.link}}",
                                "alt_text": "{{50.rssFields.prompt}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "PaperPause Pinterest (paperpause)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "pinterest2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "media_source": {
                                            "nested": {
                                                "source_type": {
                                                    "mode": "chose",
                                                    "label": "Image URL"
                                                },
                                                "is_standard": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "board_id": {
                                            "mode": "edit"
                                        },
                                        "parent_pin_id": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "ad_account_id": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:pinterest2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "media_source",
                                        "type": "collection",
                                        "label": "Media Source",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "source_type",
                                                "type": "select",
                                                "label": "Source Type",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "video_id",
                                                        "image_url",
                                                        "multiple_image_urls",
                                                        "image_base64",
                                                        "multiple_image_base64"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "Image URL",
                                                "required": true
                                            },
                                            {
                                                "name": "is_standard",
                                                "type": "boolean",
                                                "label": "Is Standard"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "board_id",
                                        "type": "select",
                                        "label": "Board",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Pin Name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description",
                                        "validate": {
                                            "max": 800
                                        }
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "alt_text",
                                        "type": "text",
                                        "label": "Alternative Text"
                                    },
                                    {
                                        "name": "dominant_color",
                                        "type": "color",
                                        "label": "Dominant Color"
                                    },
                                    {
                                        "name": "parent_pin_id",
                                        "type": "select",
                                        "label": "Parent Pin"
                                    },
                                    {
                                        "name": "ad_account_id",
                                        "type": "select",
                                        "label": "Ad Account"
                                    },
                                    {
                                        "name": "board_section_id",
                                        "type": "any",
                                        "label": "Board Section"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "pinterest:listBoards",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4597163
                            },
                            "filter": {
                                "name": "Boar doesn't exist",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.board_id}}",
                                            "o": "notexist"
                                        },
                                        {
                                            "a": "{{2.Test}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "privacy": "ALL",
                                "limit": "1000"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 816,
                                    "y": 288
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "PaperPause Pinterest (paperpause)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "pinterest2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "privacy": {
                                            "mode": "chose",
                                            "label": "All"
                                        },
                                        "ad_account_id": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:pinterest2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "privacy",
                                        "type": "select",
                                        "label": "Privacy",
                                        "validate": {
                                            "enum": [
                                                "ALL",
                                                "PUBLIC",
                                                "PROTECTED",
                                                "SECRET",
                                                "PUBLIC_AND_SECRET"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "ad_account_id",
                                        "type": "select",
                                        "label": "Ad Account"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 18
                            },
                            "filter": {
                                "name": "Match Board Name",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{lower(18.name)}}",
                                            "b": "{{lower(1.board_name)}}",
                                            "o": "text:contains"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "{{18.name}}",
                                "id": "{{18.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1177,
                                    "y": 358
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Pinterest - List Boards [18]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 23,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1458,
                                    "y": 394
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 5,
                                            "module": "gemini-ai:createACompletionGeminiPro",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 4599766
                                            },
                                            "filter": {
                                                "name": "Board doesn't exist",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{length(22.array)}}",
                                                            "b": "0",
                                                            "o": "number:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "model": "gemini-2.5-flash",
                                                "contents": [
                                                    {
                                                        "role": "user",
                                                        "parts": [
                                                            {
                                                                "type": "text",
                                                                "text": "Constraints:\r\n\r\nLength: Maximum 300 characters.\r\nStructure: Natural, engaging sentences (not just a list of tags).\r\nKeywords: Include the primary keyword, plus LSI/Semantic terms like \"line art,\" \"sheets,\" \"for kids and adults,\" \"instant download,\" and \"DIY activity.\"\r\nTone: Creative, helpful, and inviting.\r\nOutput: Return ONLY the description text. No quotes, no intro.\r\nExample for \"Cat Coloring Pages\": Discover a charming collection of free printable cat coloring pages! From cute kittens to intricate feline line art, these high-quality sheets are perfect for kids and adults. Enjoy a relaxing DIY activity with instant download PDF coloring sheets. Grab your crayons and start coloring today!"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "system_instruction": {
                                                    "parts": [
                                                        {
                                                            "text": "Pinterest SEO Expert and Copywriter. Task: Write a keyword-rich board description for a Pinterest board titled: \"{{1.collection}} Coloring Pages - Free Printables\"."
                                                        }
                                                    ]
                                                },
                                                "generationConfig": {
                                                    "thinkingConfig": {},
                                                    "imageConfig": {}
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1748,
                                                    "y": 143
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "My Gemini AI connection",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "gemini-ai-q9zyjp"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "model": {
                                                            "mode": "chose",
                                                            "label": "Gemini 2.5 Flash"
                                                        },
                                                        "contents": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "role": {
                                                                        "mode": "chose",
                                                                        "label": "User"
                                                                    },
                                                                    "parts": {
                                                                        "mode": "chose",
                                                                        "items": [
                                                                            {
                                                                                "type": {
                                                                                    "mode": "chose",
                                                                                    "label": "Text"
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "system_instruction": {
                                                            "nested": {
                                                                "parts": {
                                                                    "mode": "chose",
                                                                    "items": [
                                                                        null
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "safetySettings": {
                                                            "mode": "chose"
                                                        },
                                                        "generationConfig": {
                                                            "nested": {
                                                                "stopSequences": {
                                                                    "mode": "chose"
                                                                },
                                                                "responseModalities": {
                                                                    "mode": "chose"
                                                                },
                                                                "thinkingConfig": {
                                                                    "nested": {
                                                                        "include_thoughts": {
                                                                            "mode": "chose"
                                                                        },
                                                                        "thinking_level": {
                                                                            "mode": "chose",
                                                                            "label": "Empty"
                                                                        }
                                                                    }
                                                                },
                                                                "mediaResolution": {
                                                                    "mode": "chose",
                                                                    "label": "Empty"
                                                                },
                                                                "imageConfig": {
                                                                    "nested": {
                                                                        "imageSize": {
                                                                            "mode": "chose",
                                                                            "label": "Empty"
                                                                        }
                                                                    }
                                                                },
                                                                "responseMimeType": {
                                                                    "mode": "chose",
                                                                    "label": "Empty"
                                                                }
                                                            }
                                                        },
                                                        "function_declarations_context": {
                                                            "mode": "chose"
                                                        },
                                                        "url_context": {
                                                            "mode": "chose"
                                                        },
                                                        "google_search_context": {
                                                            "mode": "chose"
                                                        },
                                                        "code_execution": {
                                                            "mode": "chose"
                                                        },
                                                        "google_maps_context": {
                                                            "mode": "chose"
                                                        },
                                                        "file_search_store_context": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:gemini-ai-q9zyjp",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "AI Model",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contents",
                                                        "type": "array",
                                                        "label": "Messages",
                                                        "required": true,
                                                        "spec": [
                                                            {
                                                                "name": "role",
                                                                "type": "select",
                                                                "label": "Role",
                                                                "options": [
                                                                    {
                                                                        "label": "User",
                                                                        "value": "user"
                                                                    },
                                                                    {
                                                                        "label": "Model",
                                                                        "value": "model"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "parts",
                                                                "spec": [
                                                                    {
                                                                        "name": "type",
                                                                        "type": "select",
                                                                        "label": "Message Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "Text",
                                                                                "value": "text",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "text",
                                                                                        "type": "text",
                                                                                        "label": "Text",
                                                                                        "required": false
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "File",
                                                                                "value": "file",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "file_data",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "mime_type",
                                                                                                "type": "text",
                                                                                                "label": "Mime Type",
                                                                                                "required": false
                                                                                            },
                                                                                            {
                                                                                                "help": "You get this from the 'Upload a File' module.",
                                                                                                "name": "file_uri",
                                                                                                "type": "text",
                                                                                                "label": "File URI",
                                                                                                "required": false
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "File Data",
                                                                                        "required": false
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Function Call",
                                                                                "value": "functionCall",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "functionCall",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "The name of the function to call.",
                                                                                                "name": "name",
                                                                                                "type": "text",
                                                                                                "label": "Name",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 64
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "help": "The function parameters and values in JSON object format.",
                                                                                                "name": "args",
                                                                                                "type": "json",
                                                                                                "label": "Arguments"
                                                                                            },
                                                                                            {
                                                                                                "help": "The unique ID of the function call.",
                                                                                                "name": "id",
                                                                                                "type": "text",
                                                                                                "label": "Function Call ID"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Function Call"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Function Response",
                                                                                "value": "functionResponse",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "functionResponse",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "The name of the function to call.",
                                                                                                "name": "name",
                                                                                                "type": "text",
                                                                                                "label": "Name",
                                                                                                "required": true,
                                                                                                "validate": {
                                                                                                    "max": 64
                                                                                                }
                                                                                            },
                                                                                            {
                                                                                                "help": "The function response in JSON object format.",
                                                                                                "name": "response",
                                                                                                "type": "json",
                                                                                                "label": "Response",
                                                                                                "required": true
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Function Response"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "thoughtSignature",
                                                                        "type": "text",
                                                                        "label": "Thought Signature"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Parts"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "system_instruction",
                                                        "type": "collection",
                                                        "label": "System Instructions",
                                                        "spec": [
                                                            {
                                                                "name": "parts",
                                                                "type": "array",
                                                                "label": "Prompts",
                                                                "spec": {
                                                                    "spec": [
                                                                        {
                                                                            "name": "text",
                                                                            "type": "text",
                                                                            "label": "Value"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Prompt",
                                                                    "name": "value"
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "safetySettings",
                                                        "type": "array",
                                                        "label": "Safety Settings",
                                                        "spec": [
                                                            {
                                                                "name": "category",
                                                                "type": "select",
                                                                "label": "Category",
                                                                "options": [
                                                                    {
                                                                        "label": "Harassment content",
                                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                                    },
                                                                    {
                                                                        "label": "Hate speech and content",
                                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                                    },
                                                                    {
                                                                        "label": "Sexually explicit content.",
                                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                                    },
                                                                    {
                                                                        "label": "Dangerous content:",
                                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "threshold",
                                                                "type": "select",
                                                                "label": "Threshold",
                                                                "options": [
                                                                    {
                                                                        "label": "Block low and above.",
                                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                                    },
                                                                    {
                                                                        "label": "Block medium and above.",
                                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                                    },
                                                                    {
                                                                        "label": "Block only high.",
                                                                        "value": "BLOCK_ONLY_HIGH"
                                                                    },
                                                                    {
                                                                        "label": "Block none.",
                                                                        "value": "BLOCK_NONE"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "generationConfig",
                                                        "type": "collection",
                                                        "label": "Generation configurations",
                                                        "spec": [
                                                            {
                                                                "name": "stopSequences",
                                                                "type": "array",
                                                                "label": "Stop Sequences",
                                                                "spec": {
                                                                    "type": "text",
                                                                    "label": "Stop Sequence",
                                                                    "name": "value"
                                                                }
                                                            },
                                                            {
                                                                "name": "responseModalities",
                                                                "type": "select",
                                                                "label": "Response Modalities",
                                                                "multiple": true,
                                                                "validate": {
                                                                    "enum": [
                                                                        "text",
                                                                        "image"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "maxOutputTokens",
                                                                "type": "number",
                                                                "label": "Max Output Tokens"
                                                            },
                                                            {
                                                                "name": "temperature",
                                                                "type": "number",
                                                                "label": "Temperature",
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            },
                                                            {
                                                                "name": "topP",
                                                                "type": "number",
                                                                "label": "Top P",
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            },
                                                            {
                                                                "name": "topK",
                                                                "type": "number",
                                                                "label": "Top K"
                                                            },
                                                            {
                                                                "name": "thinkingConfig",
                                                                "type": "collection",
                                                                "label": "Thinking Config",
                                                                "spec": [
                                                                    {
                                                                        "name": "thinkingBudget",
                                                                        "type": "number",
                                                                        "label": "Thinking Budget"
                                                                    },
                                                                    {
                                                                        "name": "include_thoughts",
                                                                        "type": "boolean",
                                                                        "label": "Include Thoughts"
                                                                    },
                                                                    {
                                                                        "name": "thinking_level",
                                                                        "type": "select",
                                                                        "label": "Thinking Level",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "low",
                                                                                "high"
                                                                            ]
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "mediaResolution",
                                                                "type": "select",
                                                                "label": "Media Resolution",
                                                                "validate": {
                                                                    "enum": [
                                                                        "media_resolution_low",
                                                                        "media_resolution_medium",
                                                                        "media_resolution_high"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "imageConfig",
                                                                "type": "collection",
                                                                "label": "Image Configuration",
                                                                "spec": [
                                                                    {
                                                                        "name": "imageSize",
                                                                        "type": "select",
                                                                        "label": "Image Size",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "1K",
                                                                                "2K",
                                                                                "4K"
                                                                            ]
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "responseMimeType",
                                                                "type": "select",
                                                                "label": "Response Format"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "tools",
                                                        "type": "any",
                                                        "label": "Tools"
                                                    },
                                                    {
                                                        "name": "tool_config",
                                                        "type": "any",
                                                        "label": "Tool Config"
                                                    },
                                                    {
                                                        "name": "function_declarations_context",
                                                        "type": "boolean",
                                                        "label": "Function Declarations Grounding"
                                                    },
                                                    {
                                                        "name": "url_context",
                                                        "type": "boolean",
                                                        "label": "URL Context"
                                                    },
                                                    {
                                                        "name": "google_search_context",
                                                        "type": "boolean",
                                                        "label": "Google Search Grounding"
                                                    },
                                                    {
                                                        "name": "code_execution",
                                                        "type": "boolean",
                                                        "label": "Code Execution"
                                                    },
                                                    {
                                                        "name": "google_maps_context",
                                                        "type": "boolean",
                                                        "label": "Google Maps Grounding"
                                                    },
                                                    {
                                                        "name": "file_search_store_context",
                                                        "type": "boolean",
                                                        "label": "File Search Store Context"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 4,
                                            "module": "pinterest:createABoard",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 4597163
                                            },
                                            "mapper": {
                                                "name": "{{1.board_name}} - Free Printables",
                                                "description": "{{5.result}}",
                                                "privacy": "PUBLIC"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2025,
                                                    "y": 121
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "PaperPause Pinterest (paperpause)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "pinterest2"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "privacy": {
                                                            "mode": "chose",
                                                            "label": "Public"
                                                        },
                                                        "ad_account_id": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:pinterest2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "description",
                                                        "type": "text",
                                                        "label": "Description"
                                                    },
                                                    {
                                                        "name": "privacy",
                                                        "type": "select",
                                                        "label": "Privacy",
                                                        "validate": {
                                                            "enum": [
                                                                "PUBLIC",
                                                                "PROTECTED",
                                                                "SECRET"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "ad_account_id",
                                                        "type": "select",
                                                        "label": "Ad Account"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 9,
                                            "module": "datastore:AddRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": null
                                            },
                                            "mapper": {
                                                "key": "{{1.collection}}",
                                                "overwrite": true,
                                                "data": {
                                                    "board_id": "{{4.id}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2288,
                                                    "y": 121
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "Board_Mappings"
                                                        }
                                                    },
                                                    "expect": {
                                                        "overwrite": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key"
                                                    },
                                                    {
                                                        "name": "overwrite",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "collection",
                                                        "label": "Record",
                                                        "spec": [
                                                            {
                                                                "name": "board_id",
                                                                "type": "text",
                                                                "label": "Board ID"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 13,
                                            "module": "rss:ActionReadArticles",
                                            "version": 4,
                                            "parameters": {
                                                "include": []
                                            },
                                            "mapper": {
                                                "url": "{{1.rss_url}}",
                                                "username": "",
                                                "password": "",
                                                "filterDateFrom": "",
                                                "filterDateTo": "",
                                                "maxResults": "1",
                                                "gzip": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2649,
                                                    "y": 110
                                                },
                                                "restore": {},
                                                "parameters": [
                                                    {
                                                        "name": "include",
                                                        "type": "select",
                                                        "label": "Process RSS fields",
                                                        "multiple": true,
                                                        "validate": {
                                                            "enum": [
                                                                "google-merchant-center",
                                                                "itunes"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "password",
                                                        "type": "text",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "filterDateFrom",
                                                        "type": "date",
                                                        "label": "Date from"
                                                    },
                                                    {
                                                        "name": "filterDateTo",
                                                        "type": "date",
                                                        "label": "Date to "
                                                    },
                                                    {
                                                        "name": "maxResults",
                                                        "type": "number",
                                                        "label": "Maximum number of returned items",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "description",
                                                        "type": "text",
                                                        "label": "Description"
                                                    },
                                                    {
                                                        "name": "summary",
                                                        "type": "text",
                                                        "label": "Summary"
                                                    },
                                                    {
                                                        "name": "author",
                                                        "type": "text",
                                                        "label": "Author"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "dateUpdated",
                                                        "type": "date",
                                                        "label": "Date updated"
                                                    },
                                                    {
                                                        "name": "dateCreated",
                                                        "type": "date",
                                                        "label": "Date created"
                                                    },
                                                    {
                                                        "name": "comments",
                                                        "type": "url",
                                                        "label": "Comments"
                                                    },
                                                    {
                                                        "name": "image",
                                                        "type": "collection",
                                                        "label": "Image",
                                                        "spec": [
                                                            {
                                                                "name": "title",
                                                                "label": "Name",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "label": "URL",
                                                                "type": "url"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "categories",
                                                        "type": "array",
                                                        "label": "Categories",
                                                        "spec": {
                                                            "type": "text"
                                                        }
                                                    },
                                                    {
                                                        "name": "source",
                                                        "type": "collection",
                                                        "label": "Source",
                                                        "spec": [
                                                            {
                                                                "name": "title",
                                                                "label": "Name",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "label": "URL",
                                                                "type": "url"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "enclosures",
                                                        "type": "array",
                                                        "label": "Enclosures",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "label": "URL",
                                                                "type": "url"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "label": "Type",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "length",
                                                                "label": "Length",
                                                                "type": "number"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "rssFields",
                                                        "label": "RSS fields",
                                                        "help": "Other RSS fields. All values are in text format.",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "title",
                                                                "label": "title",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "label": "link",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "pubdate",
                                                                "label": "pubdate",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "guid",
                                                                "label": "guid",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "description",
                                                                "label": "description",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "prompt",
                                                                "label": "prompt",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "enclosure",
                                                                "label": "enclosure",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "label": "media:content",
                                                                "name": "media:content",
                                                                "type": "collection",
                                                                "spec": [
                                                                    {
                                                                        "name": "props",
                                                                        "label": "Properties",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "label": "url",
                                                                                "name": "url",
                                                                                "type": "text"
                                                                            },
                                                                            {
                                                                                "label": "medium",
                                                                                "name": "medium",
                                                                                "type": "text"
                                                                            },
                                                                            {
                                                                                "label": "width",
                                                                                "name": "width",
                                                                                "type": "number"
                                                                            },
                                                                            {
                                                                                "label": "height",
                                                                                "name": "height",
                                                                                "type": "number"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Value",
                                                                        "name": "value",
                                                                        "type": "text"
                                                                    },
                                                                    {
                                                                        "label": "media:title",
                                                                        "name": "media:title",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "props",
                                                                                "label": "Properties",
                                                                                "type": "collection",
                                                                                "spec": []
                                                                            },
                                                                            {
                                                                                "label": "Value",
                                                                                "name": "value",
                                                                                "type": "text"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "media:description",
                                                                        "name": "media:description",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "props",
                                                                                "label": "Properties",
                                                                                "type": "collection",
                                                                                "spec": []
                                                                            },
                                                                            {
                                                                                "label": "Value",
                                                                                "name": "value",
                                                                                "type": "text"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 15,
                                            "module": "pinterest:createPin",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 4597163
                                            },
                                            "mapper": {
                                                "board": "{{9.data.board_id}}",
                                                "note": "{{13.description}}",
                                                "link": "{{13.link}}",
                                                "image_url": "{{13.enclosure.url}}",
                                                "title": "{{13.title}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2949,
                                                    "y": 110
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 99,
                                            "module": "datastore:AddRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": null
                                            },
                                            "filter": {
                                                "name": "Board exist",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{length(22.array)}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "key": "{{1.collection}}",
                                                "overwrite": false,
                                                "data": {
                                                    "board_id": "{{get(22.array; 1).id}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2281,
                                                    "y": 564
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "Board_Mappings"
                                                        }
                                                    },
                                                    "expect": {
                                                        "overwrite": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key"
                                                    },
                                                    {
                                                        "name": "overwrite",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "collection",
                                                        "label": "Record",
                                                        "spec": [
                                                            {
                                                                "name": "board_id",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 14,
                                            "module": "rss:ActionReadArticles",
                                            "version": 4,
                                            "parameters": {
                                                "include": []
                                            },
                                            "mapper": {
                                                "url": "{{1.rss_url}}",
                                                "gzip": true,
                                                "maxResults": "1"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2630,
                                                    "y": 570
                                                }
                                            }
                                        },
                                        {
                                            "id": 60,
                                            "module": "pinterest:createPin",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 4597163
                                            },
                                            "mapper": {
                                                "board": "{{99.data.board_id}}",
                                                "note": "{{14.description}}",
                                                "link": "{{14.link}}",
                                                "image_url": "{{14.enclosure.url}}",
                                                "title": "{{14.title}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2900,
                                                    "y": 570
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}